version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env

  frontend:
    build: ./frontend 
    ports:
      - "5173:80"
    depends_on:
      - backend 